<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
<h1>Server Rendering</h1>
<p>Node js</p>
<p>Use ejs to insert dynamic data</p>

<h2>About page</h2>
    <%- include('./partials/footer.ejs') %>
</body>
</html>