<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Hello World!</h1>
    <h2>Nodejs</h2>
    <p>Expressjs Framework</p>

    <p>Do send us a message</p>
    <%- include('./partials/footer.ejs') %>
</body>

</html>